{% extends "layouts/docs.njk" %}
{% set folder = "docs" %}
{% set page = "template" %}
{% set title = "Basic template" %}
{% block content %}
    <h1>Basic template</h1>
    <hr role="presentation" class="border-primary sep text-left ml-0">
    <p class="lead">The basic template is a guideline for how to structure your pages when building with this theme.</p>

    <pre class="bg-white border mb-4">
        <code class="lang-html py-3">
            &lt;!doctype html&gt;
            &lt;html lang="en"&gt;
            &lt;head&gt;
                &lt;meta charset="utf-8"&gt;
                &lt;meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"&gt;

                &lt;!-- Google Fonts --&gt;
                &lt;link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700%7CMerriweather+Sans:300,400,700"&gt;

                &lt;!-- Font Awesome --&gt;
                &lt;link rel="stylesheet" href="assets/stylesheets/all.min.css"&gt;

                &lt;!-- CSS --&gt;
                &lt;link rel="stylesheet" href="assets/stylesheets/theme.css"&gt;
                &lt;title&gt;Boost - Bootstrap Theme&lt;/title&gt;

                &lt;!-- JS --&gt;
                &lt;script src="assets/js/jquery.slim.min.js" defer&gt;&lt;/script&gt;
                &lt;script src="assets/js/popper.min.js" defer&gt;&lt;/script&gt;
                &lt;script src="assets/js/bootstrap.min.js" defer&gt;&lt;/script&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;!-- Main content --&gt;
            &lt;/body&gt;
            &lt;/html&gt;
        </code>
    </pre>
    <p><strong>Important:</strong> Remember to add the <code>defer</code> attribute in order to execute the <strong>scripts</strong> after the page has been rendered.</p>
{% endblock %}
