{% extends "layouts/default.njk" %}
{% set page = "pages" %}
{% set title = "Pages" %}
{% block content %}
<main id="main">
    <div class="container">
        <div class="row justify-content-lg-center py-5">
            <div class="col-lg-9 text-center py-4 py-lg-5">
                <h1 class="display-4 mb-4">Pages</h1>
                <p class="lead">A set of pages made to start your website quickly.</p>
            </div>
        </div>
    </div>
    <div class="bg-skew bg-skew-light">

        <h2 class="text-center">Landing Pages</h2>

        <div class="container">
            <div class="row py-4">
                <div class="col-lg-6">
                    <a href="app.html">
                        <img src="assets/img/app.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                        <h3 class="h5 text-center text-dark mb-5">App</h3>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="course.html">
                        <img src="assets/img/course.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                        <h3 class="h5 text-center text-dark mb-5">Course</h3>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="event.html">
                        <img src="assets/img/event.jpg" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                        <h3 class="h5 text-center text-dark mb-5">Event</h3>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="saas.html">
                        <img src="assets/img/saas.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                        <h3 class="h5 text-center text-dark mb-5">Saas</h3>
                    </a>
                </div>
            </div>

            <h2 class="text-center">Secondary Pages</h2>

            <div class="row py-4">
                <div class="col-lg-6">
                    <a href="blog.html">
                        <img src="assets/img/blog.jpg" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                        <h3 class="h5 text-center text-dark mb-5">Blog</h3>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="article.html">
                        <img src="assets/img/article.jpg" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                        <h3 class="h5 text-center text-dark mb-5">Article</h3>
                    </a>
                </div>
            </div>

            <div class="row py-4">
                <div class="col-lg-6">
                    <a href="about.html">
                        <img src="assets/img/about.png" class="img-fluid img-thumbnail mb-4" alt="Demo Pages">
                        <h3 class="h5 text-center text-dark mb-5">About</h3>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="contact.html">
                        <img src="assets/img/contact.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                        <h3 class="h5 text-center text-dark mb-5">Contact</h3>
                    </a>
                </div>
            </div>

            <div class="row py-4">
                <div class="col-lg-6">
                    <a href="pricing-cards.html">
                        <img src="assets/img/pricing-cards.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                        <h3 class="h5 text-center text-dark mb-5">Pricing Cards</h3>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="pricing-table.html">
                        <img src="assets/img/pricing-table.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                        <h3 class="h5 text-center text-dark mb-5">Pricing Table</h3>
                    </a>
                </div>
            </div>

            <div class="row py-4">
                <div class="col-lg-6">
                    <a href="sign-up.html">
                        <img src="assets/img/sign-up.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                        <h3 class="h5 text-center text-dark mb-5">Sign Up</h3>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="404.html">
                        <img src="assets/img/404.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                        <h3 class="h5 text-center text-dark mb-5">Error 404</h3>
                    </a>
                </div>
            </div>

        </div>

    </div><!-- end bg-skew -->
</main>
{% endblock %}
