{% extends "layouts/default.njk" %}
{% set title = "About" %}
{% block content %}
    <main id="main">
        <div class="container">
            <h1 class="display-4 my-5 my-lg-6 pb-lg-4 text-center">About</h1>
        </div>
        <div class="bg-skew bg-skew-light">
            <div class="container pt-3">
                <p class="lead text-center mb-5">We are a small team with passion for our work</p>
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <p>Lots of designers will use fake copy or lorem impsum in their wireframes or prototypes to help them get a sense of the amount of copy required per page.</p>
                        <blockquote class="blockquote m-5">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Quos excepturi eveniet, accusamus magnam unde mollitia.</p>
                        </blockquote>
                        <div class="row text-center text-md-left">
                            <div class="col-6 col-md-3 mb-3">
                                <div class="h2 text-info mb-2">
                                    100+
                                </div>
                                <div class="small text-secondary text-uppercase">Products</div>
                            </div>
                            <div class="col-6 col-md-3 mb-3">
                                <div class="h2 text-success mb-2">
                                    1.000+
                                </div>
                                <div class="small text-secondary text-uppercase">Clients</div>
                            </div>
                            <div class="col-6 col-md-3 text-danger mb-3">
                                <div class="h2 mb-2">
                                    10.000+
                                </div>
                                <div class="small text-secondary text-uppercase">Downloads</div>
                            </div>
                            <div class="col-6 col-md-3 mb-3">
                                <div class="h2 mb-2">
                                    50.000+
                                </div>
                                <div class="small text-secondary text-uppercase">Followers</div>
                            </div>
                        </div>

                        <hr class="sep border-primary mt-4 mb-5" role="presentation">

                        <h2 class="text-center mb-4">Meet the team</h2>
                        <div class="row">
                            <div class="col-sm-6 col-xl-4">
                                <div class="card card-hover my-3">
                                    <img class="card-img-top" src="assets/img/ceo.jpg" alt="">
                                    <div class="card-body text-center">
                                        <h3 class="card-title h5">Richard Galvan</h3>
                                        <p class="text-secondary">CEO</p>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#">
                                                    <i class="icon-inner fab fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="card card-hover my-3">
                                    <img class="card-img-top" src="assets/img/cto.jpg" alt="">
                                    <div class="card-body text-center">
                                        <h3 class="card-title h5">Andria Wortham</h3>
                                        <p class="text-secondary">CTO</p>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#">
                                                    <i class="icon-inner fab fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="card card-hover my-3">
                                    <img class="card-img-top" src="assets/img/ui-designer.jpg" alt="">
                                    <div class="card-body text-center">
                                        <h3 class="card-title h5">James Gamboa</h3>
                                        <p class="text-secondary">UI/UX Designer</p>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#">
                                                    <i class="icon-inner fab fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="card card-hover my-3">
                                    <img class="card-img-top" src="assets/img/developer.jpg" alt="">
                                    <div class="card-body text-center">
                                        <h3 class="card-title h5">Tania Stubbs</h3>
                                        <p class="text-secondary">Web Developer</p>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#">
                                                    <i class="icon-inner fab fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="card card-hover my-3">
                                    <img class="card-img-top" src="assets/img/marketing.jpg" alt="">
                                    <div class="card-body text-center">
                                        <h3 class="card-title h5">Thomas Jackson</h3>
                                        <p class="text-secondary">Marketing</p>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#">
                                                    <i class="icon-inner fab fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="card card-hover my-3">
                                    <img class="card-img-top" src="assets/img/finance.jpg" alt="">
                                    <div class="card-body text-center">
                                        <h3 class="card-title h5">Laura Taylor</h3>
                                        <p class="text-secondary">Finance</p>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#">
                                                    <i class="icon-inner fab fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Call to action -->
            <hr class="sep border-primary my-5" role="presentation">
            <div class="container pb-4">
                <div class="text-center">
                    <h2 class="mb-4">Are you ready to start?</h2>
                    <div class="mb-4">
                        <a class="btn btn-primary rounded-pill" href="https://themes.getbootstrap.com/product/boost/" role="button">Buy now</a>
                    </div>
                    <a class="link-cta" href="docs/index.html">Learn More</a>
                </div>
            </div>
        </div><!-- end bg-skew -->
    </main>
{% endblock %}
