{% extends "layouts/default.njk" %}
{% set title = "Event" %}
{% block content %}
{% set title = "Event" %}
    <main id="main">

        <!-- Hero -->
        <section class="bg-cover d-flex align-items-center position-relative min-vh-80" style="background-image: url(assets/img/conference.jpg)">
            <div class="bg-overlay bg-primary alpha-7"></div>
            <div class="container text-white">
                <div class="row">
                    <div class="col-md-7 mb-5 mb-md-0">
                        <h1 class="display-4">Boost Conference</h1>
                        <p class="lead">Rethink your business model</p>
                        <a class="btn btn-light rounded-pill" href="#">Buy tickets</a>
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <div class="">
                            <dl>
                                <dt class="font-weight-light mb-1">When</dt>
                                <dd class="h5">April 21, 2020</dd>
                                <dt class="font-weight-light mb-1">Where</dt>
                                <dd class="h5">Barcelona</dd>
                                <dt class="font-weight-light mb-1">Who</dt>
                                <dd class="h5">22 Speakers</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Intro -->
        <section class="container py-5">
            <div class="row">
                <div class="col-lg-5">
                    <h2 class="h3 mb-4">What is it all about</h2>
                </div>
                <div class="col-lg-7">
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </section>

        <!-- Profiles -->
        <section class="container py-5">
            <h2 class="mb-5">Speakers</h2>
            <div class="row">
                <div class="col-sm-6 col-xl-4">
                    <div class="card card-hover my-3">
                        <img class="card-img-top" src="assets/img/speaker-1.jpg" alt="Robert Gallagher">
                        <div class="card-body text-center">
                            <h4 class="card-title h5">Robert Gallagher</h4>
                            <p class="text-secondary">Team Leader</p>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="card card-hover my-3">
                        <img class="card-img-top" src="assets/img/speaker-2.jpg" alt="Mark Postma">
                        <div class="card-body text-center">
                            <h4 class="card-title h5">Mark Postma</h4>
                            <p class="text-secondary">Product Designer</p>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="card card-hover my-3">
                        <img class="card-img-top" src="assets/img/speaker-3.jpg" alt="Judi Johnson">
                        <div class="card-body text-center">
                            <h4 class="card-title h5">Judi Johnson</h4>
                            <p class="text-secondary">Content Strategist</p>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="card card-hover my-3">
                        <img class="card-img-top" src="assets/img/speaker-4.jpg" alt="Naomi Vázquez">
                        <div class="card-body text-center">
                            <h4 class="card-title h5">Naomi Vázquez</h4>
                            <p class="text-secondary">Sales Manager</p>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="card card-hover my-3">
                        <img class="card-img-top" src="assets/img/speaker-5.jpg" alt="Halvor Klaussen">
                        <div class="card-body text-center">
                            <h4 class="card-title h5">Halvor Klaussen</h4>
                            <p class="text-secondary">Mystery Shopper</p>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="card card-hover my-3">
                        <img class="card-img-top" src="assets/img/speaker-6.jpg" alt="Paola Tovar">
                        <div class="card-body text-center">
                            <h4 class="card-title h5">Paola Tovar</h4>
                            <p class="text-secondary">Human Resources</p>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="icon icon-sm icon-dark" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="bg-skew bg-skew-light">

            <!-- Sponsored -->
            <section class="container py-5">
                <h2 class="h4 font-sans-serif text-uppercase text-center mb-4">Sponsored by</h2>
                <div class="d-flex flex-wrap justify-content-around align-items-center">
                    <img class="m-3" src="assets/img/logo-google.png" alt="Google" height="35">
                    <img class="m-3" src="assets/img/logo-uber.png" alt="Uber" height="20">
                    <img class="m-3" src="assets/img/logo-paypal.png" alt="Paypal" height="35">
                    <img class="m-3" src="assets/img/logo-spotify.png" alt="Spotify" height="35">
                    <img class="m-3" src="assets/img/logo-microsoft.png" alt="Microsoft" height="35">
                </div>
            </section>

            <hr class="sep border-primary" role="presentation">


            <section class="container py-5">
                <h2 class="mb-5">Schedule</h2>
                <table class="table table-responsive-sm">
                    <caption class="sr-only">Conferences and workshops scheduled</caption>
                    <thead class="">
                        <tr>
                            <th class="text-secondary w-50" scope="col">Workshop</th>
                            <th class="text-secondary w-25" scope="col">Time</th>
                            <th class="text-secondary w-25" scope="col">Presenter</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Meet & Greet</a></td>
                            <td>09:00</td>
                            <td>Organization</td>
                        </tr>
                        <tr>
                            <td><a href="#">Session 1</a></td>
                            <td>10:00</td>
                            <td>Robert Gallagher</td>
                        </tr>
                        <tr>
                            <td><a href="#">Session 2</a></td>
                            <td>11:00</td>
                            <td>Paola Tovar</td>
                        </tr>
                        <tr>
                            <td><a href="#">Session 3</a></td>
                            <td>12:00</td>
                            <td>Mark Postma</td>
                        </tr>
                        <tr>
                            <td><a href="#">Lunch</a></td>
                            <td>13:00</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><a href="#">Networking</a></td>
                            <td>14:00</td>
                            <td>Paola Tovar</td>
                        </tr>
                        <tr>
                            <td><a href="#">Q & A Session</a></td>
                            <td>16:00</td>
                            <td>Organization</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <hr class="sep border-primary" role="presentation">

            <!-- Call to action -->
            <div class="container text-center py-5">
                <h2 class="h4 font-sans-serif text-uppercase mb-4">Get your tickets</h2>
                <a href="#" class="btn btn-primary rounded-pill">Buy tickets</a>
            </div>

        </div><!-- end bg-skew -->
    </main>
{% endblock %}
