{% extends "layouts/default.njk" %}
{% set page = "home" %}
{% set title = "Home" %}
{% block content %}
    <main id="main">
        <!-- Hero -->
        <section class="container">
            <div class="row justify-content-lg-between align-items-lg-center py-5">
                <div class="col-lg-6 text-center text-lg-left">
                    <h1 class="display-4 mb-4">Boost your digital presence</h1>
                    <p class="lead text-secondary mb-4">Build an awesome website with a clean and accessible Bootstrap theme.</p>
                    <a class="btn btn-primary btn-block rounded-pill d-md-inline-block w-auto mr-md-4 mb-4 mb-md-0" href="https://themes.getbootstrap.com/product/boost/">Buy now</a>
                    <a href="docs/index.html" class="link-cta">Documentation</a>
                </div>
                <div class="col-lg-6">
                    <img src="assets/img/revenue.svg" class="img-fluid d-none d-lg-block" alt="">
                </div>
            </div>
        </section>

        <div class="bg-skew bg-skew-light">

            <!-- Demo pages -->
            <section class="container">
                <h2 class="sr-only">Pages</h2>
                <div class="row py-5">
                    <div class="col-lg-6 mb-4">
                        <a href="app.html" class="stretched-link">
                            <img src="assets/img/app.png" class="img-fluid img-thumbnail img-thumbnail-hover mb-4" alt="App demo">
                            <h3 class="h5 text-center text-dark">App</h3>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <a href="course.html" class="stretched-link">
                            <img src="assets/img/course.png" class="img-fluid img-thumbnail mb-4" alt="Course demo">
                            <h3 class="h5 text-center text-dark">Course</h3>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <a href="event.html" class="stretched-link">
                            <img src="assets/img/event.jpg" class="img-fluid img-thumbnail mb-4" alt="Event demo">
                            <h3 class="h5 text-center text-dark">Event</h3>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <a href="saas.html" class="stretched-link">
                            <img src="assets/img/saas.png" class="img-fluid img-thumbnail mb-4" alt="Saas demo">
                            <h3 class="h5 text-center text-dark">SaaS</h3>
                        </a>
                    </div>
                </div>
                <div class="text-center pb-5">
                    <a href="pages.html" class="btn btn-primary rounded-pill">View all pages</a>
                </div>
            </section>
        </div><!-- end bg-skew -->

        <!-- Icon blocks -->
        <section class="container">
            <h2 class="sr-only">Features</h2>
            <div class="row py-4">
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fab fa-accessible-icon" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Accessible</h3>
                        <p class="mb-md-0">Built with accessibility in mind and following best practices.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fas fa-mobile-alt" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Mobile First</h3>
                        <p>Mobile-first flexbox grid to build layouts of all shapes and sizes.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fab fa-font-awesome-flag" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Font Awesome</h3>
                        <p>More than 1200 vector icons from the web's most popular icon set.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fab fa-sass" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Sass Files</h3>
                        <p>Easily customize your site modifying the source scss files.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fab fa-gulp" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Gulp</h3>
                        <p>Automated workflow for your development tasks.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fas fa-code" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Valid Code</h3>
                        <p class="mb-md-0">W3C valid code to ensure the site works properly on all browsers.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Features -->
        <section class="container">
            <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
                <div class="col-lg-5 mb-4 mb-lg-0">
                    <h2>Accessibility-ready</h2>
                    <hr class="sep border-primary ml-0 mb-3 text-left" role="presentation">
                    <p>Boost theme is navigable with keyboard, ready for screen readers and uses a high color contrast ratio.</p>
                    <a class="link-cta" href="docs/accessibility.html">Read More <span class="sr-only">about accessibility</span></a>
                </div>
                <div class="col-lg-6">
                    <img src="assets/img/audit.png" class="img-fluid img-thumbnail" alt="Accessibility audit using the Lighthouse tool with a result of 100.">
                </div>
            </div>
            <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
                <div class="col-lg-5 order-lg-2 mb-4 mb-lg-0">
                    <h2>Easy to customize</h2>
                    <hr class="sep border-primary ml-0 mb-3 text-left" role="presentation">
                    <p>The theme includes a workflow to customize it easily, or you can simply use the static files.</p>
                    <a class="link-cta" href="docs/index.html">Read More <span class="sr-only">about the gulp workflow</span></a>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <img src="assets/img/install.png" class="img-fluid img-thumbnail" alt="Command line with workflow tasks.">
                </div>
            </div>
        </section>

        <div class="bg-skew bg-skew-light">

            <!-- Accordion -->
            <section class="container">
                <h2 class="my-5 text-center">Questions</h2>
                <div class="row justify-content-lg-center pb-5">
                    <div class="col-lg-9">
                        <div class="accordion" id="accordionQuestions">

                            <div class="card mb-2 shadow">
                                <div class="card-header" id="headingOne">
                                    <h3 class="card-title">
                                        <a class="collapsed" role="button" href="#collapseTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Can I use this theme for my clients? <i class="fas fa-angle-down float-right rotate-icon" aria-hidden="true"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionQuestions">
                                    <div class="card-body">
                                        <p>Yes, the Bootstrap Themes license allows you to use the product for personal or for a client.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 shadow">
                                <div class="card-header" id="headingTwo">
                                    <h3 class="card-title">
                                        <a class="collapsed" role="button" href="#collapseOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            What methods of payments are supported? <i class="fas fa-angle-down float-right rotate-icon" aria-hidden="true"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionQuestions">
                                    <div class="card-body">
                                        <p >You can purchase the theme on Bootstrap Themes via any major credit/debit card (via Stripe) or with your Paypal account.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 shadow">
                                <div class="card-header" id="headingThree">
                                    <h3 class="card-title">
                                        <a class="collapsed" role="button" href="#collapseThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How do I get help with the theme? <i class="fas fa-angle-down float-right rotate-icon" aria-hidden="true"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionQuestions">
                                    <div class="card-body">
                                        <p>Support for the theme is given for 6 months after you purchase the theme and is specific to questions around functionality, bugs, and basic implementation.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <hr class="sep border-primary" role="presentation">

            <!-- Call to action -->
            <div class="container py-5">
                <div class="text-center">
                    <h2 class="mb-4">Are you ready to start?</h2>
                    <div class="mb-4">
                        <a class="btn btn-primary rounded-pill" href="https://themes.getbootstrap.com/product/boost/" role="button">Buy now</a>
                    </div>
                    <a class="link-cta" href="docs/index.html">Documentation</a>
                </div>
            </div>

        </div><!-- end bg-skew -->
    </main>
{% endblock %}
