{% extends "layouts/default.njk" %}
{% set title = "Saas" %}
{% block content %}
    <main id="main">

        <!-- Hero -->
        <div class="container mb-lg-3">
            <div class="row justify-content-center py-5 py-lg-6">
                <div class="col-lg-10 text-center py-4">
                    <h1 class="display-3 mb-4">Build your website</h1>
                    <p class="lead px-sm-5">Boost is a modern and accessible theme, designed with a clean and elegant interface.</p>
                    <a class="btn btn-primary rounded-pill" href="#">Get started</a>
                </div>
            </div>
        </div>

        <div class="bg-skew bg-skew-light">

            <!-- Icon blocks -->
            <div class="container">
                <div class="row py-4 mb-lg-5">
                    <div class="col-md-4 mb-4">
                        <div class="text-center px-lg-3">
                            <span class="icon icon-primary icon-lg mb-3">
                                <i class="icon-inner fas fa-pen-fancy" aria-hidden="true"></i>
                            </span>
                            <h2 class="h4">Clean Design</h2>
                            <p class="mb-md-0">The quick brown fox jumps over the lazy dog contains all of the letters of the alphabet. </p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="text-center px-lg-3">
                            <span class="icon icon-primary icon-lg mb-3">
                                <i class="icon-inner fas fa-mobile-alt" aria-hidden="true"></i>
                            </span>
                            <h2 class="h4">Fully Responsive</h2>
                            <p class="mb-md-0">The quick brown fox jumps over the lazy dog contains all of the letters of the alphabet.</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="text-center px-lg-3">
                            <span class="icon icon-primary icon-lg mb-3">
                                <i class="icon-inner fab fa-sass" aria-hidden="true"></i>
                            </span>
                            <h2 class="h4">Built with Sass</h2>
                            <p class="mb-md-0">The quick brown fox jumps over the lazy dog contains all of the letters of the alphabet.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Features -->
            <section class="container mb-4">
                <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
                    <div class="col-lg-5 order-lg-2 mb-4 mb-lg-0">
                        <h2 class="h3">Build an elegant website</h2>
                        <p>Lots of designers will use fake copy or lorem impsum in their wireframes or prototypes to help them get a sense of the amount of copy required per page.</p>
                        <a class="link-cta" href="#">Read more</a>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <img src="assets/img/course.png" class="img-fluid img-thumbnail" alt="Theme screenshot">
                    </div>
                </div>
                <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
                    <div class="col-lg-5 mb-4 mb-lg-0">
                        <h2 class="h3">Create, launch and grow</h2>
                        <p>Lots of designers will use fake copy or lorem impsum in their wireframes or prototypes to help them get a sense of the amount of copy required per page.</p>
                        <a class="link-cta" href="#">Read more</a>
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/img/event.jpg" class="img-fluid img-thumbnail" alt="Theme screenshot">
                    </div>
                </div>
            </section>

            <!-- Pricing table -->
            <section class="container py-5">
                <h2 class="text-center mb-5">Pick a plan that works for you</h2>
                <table class="table bg-white shadow-sm pricing-table table-responsive-md">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">
                                <span class="d-block h4 mb-1">Basic</span>
                                <div class="d-flex">
                                    <span class="h4 font-weight-normal mt-1">$</span><span class="display-4 font-weight-normal">0</span>
                                </div>
                                <small class="d-block text-muted">forever</small>
                                <a class="btn btn-sm btn-outline-primary rounded-pill mt-4" href="#">Get started</a>
                            </th>
                            <th scope="col">
                                <span class="d-block h4 mb-1">Standard</span>
                                <div class="d-flex">
                                    <span class="h4 mt-1">$</span><span class="display-4 font-weight-normal">5</span>
                                </div>
                                <small class="d-block text-muted">per month</small>
                                <a class="btn btn-sm btn-primary rounded-pill mt-4" href="#">Get started</a>
                            </th>
                            <th scope="col">
                                <span class="d-block h4 mb-1">Unlimited</span>
                                <div class="d-flex">
                                    <span class="h4 font-weight-normal mt-1">$</span><span class="display-4 font-weight-normal">10</span>
                                </div>
                                <small class="d-block text-muted">per month</small>
                                <a class="btn btn-sm btn-outline-primary rounded-pill mt-4" href="#">Get started</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Downloads<br><small class="text-secondary">per month</small></th>
                            <td>5</td>
                            <td>15</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <th scope="row">Email support<br><small class="text-secondary">24/7 support</small></th>
                            <td>
                                <i class="far fa-check-circle fa-lg text-success" aria-hidden="true"></i>
                                <span class="sr-only">Yes</span>
                            </td>
                            <td>
                                <i class="far fa-check-circle fa-lg text-success" aria-hidden="true"></i>
                                <span class="sr-only">Yes</span>
                            </td>
                            <td>
                                <i class="far fa-check-circle fa-lg text-success" aria-hidden="true"></i>
                                <span class="sr-only">Yes</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">White Labeling<br><small class="text-secondary">use your branding</small></th>
                            <td>-</td>
                            <td>
                                <i class="far fa-check-circle fa-lg text-success" aria-hidden="true"></i>
                                <span class="sr-only">Yes</span>
                            </td>
                            <td>
                                <i class="far fa-check-circle fa-lg text-success" aria-hidden="true"></i>
                                <span class="sr-only">Yes</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <hr class="sep border-primary" role="presentation">

            <!-- Call to action -->
            <div class="container py-5">
                <div class="text-center">
                    <h2 class="mb-4">Are you ready to start?</h2>
                    <div class="mb-4">
                        <a class="btn btn-primary rounded-pill" href="#" role="button">Get started now</a>
                    </div>
                    <a class="link-cta" href="contact.html">Contact us</a>
                </div>
            </div>

        </div><!-- end bg-skew -->

    </main>
{% endblock %}
